@page "/MeusEventos"

<h3>Event List</h3>

@if (eventos != null && eventos.Any())
{
    <ul>
        @foreach (var evento in eventos)
        {
            <li>
                <h5>@evento.Nome</h5>
                <p>Location: @evento.Local</p>
                <p>Date: @evento.Data</p>
                <p>Description: @evento.Descricao</p>
                <p>Capacity: @evento.Capacidade</p>
                <p>Price: @evento.Preco</p>
            </li>
        }
    </ul>
}
else if (isFetching)
{
    <p>Loading...</p>
}
else
{
    <p>No events found.</p>
}

@code {
    private List<Evento> eventos;
    private bool isFetching;
    
    public class Evento
    {
   
        public int Id { get; set; }

        public string? Nome { get; set; }

        public DateOnly? Data { get; set; }

        public TimeOnly? Hora { get; set; }

        public string? Local { get; set; }

        public string? Descricao { get; set; }

        public int? Capacidade { get; set; }

        public decimal? Preco { get; set; }

        public int? Idutilizador { get; set; }
        
    }

    [Inject]
    private HttpClient httpClient { get; set; }

    protected override async Task OnInitializedAsync()
    {
        isFetching = true;

        var url = "http://localhost:5052/api/Eventos";
        eventos = await httpClient.GetFromJsonAsync<List<Evento>>(url);

        isFetching = false;
    }
}